<h1>Listing materials</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Supplier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.name %></td>
    <td><%= material.number %></td>
    <td><%= material.supplier %></td>
    <td><%= link_to 'Show', material %></td>
    <td><%= link_to 'Edit', edit_material_path(material) %></td>
    <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Material', new_material_path %>
